<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<!-- Materialize-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="../statics/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<nav class="white">
		<div class="nav-wrapper white grey-text text-darken-2">
			<a href="#" class="brand-logo" style="color: black; font-size: 2rem; font-family:Pacifico,cursive"
				;>Bestroadmaps</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a th:href="@{/}" style="color: black;">Home</a></li>
				<!-- Arreglar mañana th if para mostrar una vez logueado -->
				<li><a class="nav-link" th:href="@{/roadmaps/select}" style="color: black;">Create Roadmap</a></li>
				<!-- Arreglar mañana th if para mostrar una vez logueado -->
				<li><a class="nav-link disabled" th:href="@{/roadmaps/favorites}" style="color: black"
						;>Favorite</a></li>
				<li th:if="${logueado}" class="nav-item">
					<a class="nav-link" th:href="@{/user/register}" style="color: black;"><span
							class="fas fa-user"></span>
						Sign Up</a>
				</li>
				<li th:if="${logueado}" class="nav-item">
					<a class="nav-link" th:href="@{/login}" style="color: black;"><span
							class="fas fa-sign-in-alt"></span>
						Login</a>
				</li>
				<li th:if="${logueado}" class="nav-item">
					<a class="nav-link" th:href="@{/user/register}" style="color: black;"><span
							class="fas fa-user"></span>
						Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}" style="color: black;"><span
							class="fas fa-sign-in-alt"></span>
						Logout</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<form class="right hide-on-med-and-down">
					<li class="nav-item"><input class="" type="search" placeholder="Search" aria-label="Search"></li>
					<li class="nav-item"><button class="btn disabled" type="submit">Search</button></li>
				</form>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="center-align title">
					THE BEST WAY TO LEARN </h1>
				<h2 class="right-align title2">Find or create the best roadmap to lear that skill you always wanted</h2>

				<div class="carousel center-aling">
					<div class="carousel-item">
						<h3 class="subtitle">Art</h3>
						<img src="../statics/artroad.png" alt="art" th:href="@{/roadmaps/category/ART}">
					</div>
					<!--Segundo item-->
					<div class="carousel-item">
						<h3 class="subtitle">Science</h3>
						<img src="../statics/cienciaroad.jpg" alt="science" th:href="@{/roadmaps/category/SCIENCE}">
					</div>
					<!--Tercero item-->
					<div class="carousel-item">
						<h3 class="subtitle">Education</h3>
						<img src="../statics\education.jpg" alt="education" th:href="@{/roadmaps/category/EDUCATION}">
					</div>
					<!--Cuarto item-->
					<div class="carousel-item">
						<h3 class="subtitle">Marketing</h3>
						<img src="../statics/redesroad.jpg" alt="marketing" th:href="@{/roadmaps/category/MARKETING}">
					</div>
					<!--Quinto item-->
					<div class="carousel-item">
						<h3 class="subtitle">Technology</h3>
						<img src="../statics/technologyroad.jpg" alt="Technology"
							th:href="@{/roadmaps/category/TECHNOLOGY}">
					</div>
					<!--Sexto item-->
					<div class="carousel-item">
						<h3 class="subtitle">Other</h3>
						<img src="../statics/technologyroad.jpg" alt="Other" th:href="@{/roadmaps/category/OTHER}">
					</div>

				</div>
			</div>
		</div>
	</div>



	<footer class="page-footer white ">
		<div class=" col s12">
			<div class="row">

				<div class="col s3">
					<a class="brand" id="brand" th:href="@{/}"
						style="color: black; font-size: 2rem; font-family:Pacifico,cursive" ;>Bestroadmaps</a>

				</div>


				<!-- Section: Social media -->

				<!-- Section: Links  -->
				<section class="col s3">
					<div class="container text-center ">
						<!-- Grid row -->
						<div class="row mt-3">
							<!-- Grid column -->

							<!-- Grid column -->

							<!-- Grid column -->
							<div id="linksfrompages" class="col s3">
								<!-- Links -->

								<p>
									<a style="text-decoration:none; color: black; " th:href="@{/roadmaps/category/ART}"
										class="text-reset">Art</a>
								</p>
								<p>
									<a style="text-decoration:none; color: black; "
										th:href="@{/roadmaps/category/TECHNOLOGY}" class="text-reset">Technology</a>
								</p>
								<p>
									<a style="text-decoration:none; color: black; "
										th:href="@{/roadmaps/category/SCIENCE}" class="text-reset">Sciencie</a>
								</p>
								<p>
									<a style="text-decoration:none; color: black; "
										th:href="@{/roadmaps/category/MARKETING}" class="text-reset">Marketing</a>
								</p>
								<p>
									<a style="text-decoration:none; color: black; "
										th:href="@{/roadmaps/category/MARKETING}" class="text-reset">Education</a>
								</p>
								<p>
									<a style="text-decoration:none; color: black; "
										th:href="@{/roadmaps/category/OTHER}" class="text-reset">Other</a>
								</p>
							</div>
						</div>
				</section>
				<!-- Grid column -->

				<!-- Grid column -->
				<section class="col s3">
					<div class="col s3">
						<!-- Links -->

						<p>
							<a style="text-decoration:none; color: black; " th:href="@{/roadmaps/create}"
								class="text-reset">Create Roadmap</a>
						</p>
						<p>
							<a style="text-decoration:none; color: black; " th:href="@{/roadmaps/favorites}"
								class="text-reset">Favorite</a>
						</p>
						<p>
							<a style="text-decoration:none; color: black; " href="./pages/contact.html"
								class="text-reset">Contact</a>
						</p>
						<p>
							<a style="text-decoration:none; color: black; " href="./pages/help.html"
								class="text-reset">Help</a>
						</p>
					</div>
				</section>
				<!-- Grid column -->
				<!-- Grid container -->

				<!-- Section: Social media -->
				<section class="col s3">
					<!-- Facebook -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border-color: grey;"
						href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

					<!-- Twitter -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border-color: grey;"
						href="#!" role="button"><i class="fab fa-twitter"></i></a>

					<!-- Google -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border-color: grey;"
						href="#!" role="button"><i class="fab fa-google"></i></a>

					<!-- Instagram -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac; border-color: grey;"
						href="#!" role="button"><i class="fab fa-instagram"></i></a>

					<!-- Linkedin -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border-color: grey;"
						href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
					<!-- Github -->
					<a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border-color: grey;"
						href="#!" role="button"><i class="fab fa-github"></i></a>
				</section>
				<!-- Section: Social media -->

				<!-- Grid container -->


			</div>
		</div>
	</footer>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="../statics/js/main.js"></script>


</body>

</html>