<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="../statics/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://kit.fontawesome.com/1ddab00a61.js">

  <style>
    .navbar.navbar-toggler-icon {
      background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
    }
  </style>
  <title></title>
</head>

<body>
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-light  white">

      <!-- Navbar brand -->
      <a href="#" class="brand-logo" style="color: black; font-size: 1.5rem; font-family:Pacifico,cursive"
        ;>Bestroadmaps</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}" style="color: black;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" th:if="${logueado}">
            <a class="nav-link" th:href="@{/roadmaps/select}" style="color: black;">Create Roadmap</a>
          </li>
          <li class="nav-item" th:if="${logueado}">
            <a class="nav-link disabled" th:href="@{/roadmaps/favorites}" style="color: black" ;>Favorite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}" style="color: black;">Login</a>
          </li>
          <li class="nav-item" th:if="${logueado}">
            <a class="nav-link" th:href="@{/logout}" style="color: black;">LogOut</a>
          </li>

        </ul>
        <!-- Links -->

      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
  </header>
  <div class="container">

    <div class="col s12 d-flex justify-content-center">

      <h1 class="" style="width:60%; text-align:center;font-size: 48px" th:value="${roadmap.title}">
        The Roadmap </h1>
    </div>

    <div class="row">
      <div class="col-7">
        <div class="media d-flex justify-content-start" style="border-top: 0; margin-bottom: 40px;">
          <img src="../statics/img/fotoperfil2.jpg" width="64" height="64" style="border-radius: 50%">
          <div class="media-body">
            <p class="name"> Matt LeBlanc<span>la hora </span></p>
              <p class="comentario"> <i
								class="fas fa-quote-left"></i>
                
                Of all the things I've lost, my mind is the most precious."
               <i class="fas fa-quote-right"></i> </p>
  
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center flex-wrap " style="margin-left:30px;">
      
          <button class="btn btn-outline-danger " id="botonlike" > <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="color:red;"><path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"/></svg></i> Add To Favorite</button>
        
          <button class="btn btn-outline-dark "><i class="fas fa-thumbs-up"></i></button>
          <button class="btn btn-outline-dark"> <i class="fas fa-thumbs-down"></i></button>
        
      </div>

    </div>
 <div class="container fluid " id="descriptionRoad">
   <p name="description" th:value="${roadmap.description}">
    Create the best roadmap for your team. Make any field you need--such as milestones, costs or key contacts--and build out your product road map. Everything is one place and easy to access.</p>
</div>
  <section style="margin-top: 30px;">
    <div>
      <h4>title step 1 </h4>
      <p>description about step 1</p>

    </div>
    <div>
      <h4>title step 1 </h4>
      <p>description about step 1</p>

    </div>
    <div>
      <h4>title step 1 </h4>
      <p>description about step 1</p>

    </div>
    
  </section>
</div>
  <div class="container">
    <div class="row comentarios justify-content-start">
      <div class="col-6">
        <form action="" class="form-comentarios d-flex justify-content-end flex-wrap">
          <textarea name="" id="" ></textarea>
          <div style="position: relative;">
            
            <input type="password" id="password" class="fadeIn third" name="email" placeholder="     Email " 
            style="width: 271px;"><span class="icon" style="position: absolute;
            width: 20px;
            height: 20px;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);">
              <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          </div>
          <div style="position: relative;">
					<input type="text" id="user" class="fadeIn second" name="userName" placeholder="      Username">   <span class="icon" style="position: absolute;
          width: 20px;
          height: 20px;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);" ><i  class="fas fa-user"></i></span>
          </div>
          
          <button class="btn btn-primario-out btn-shadow"><i class="far fa-paper-plane"></i> Comentar </button>
        </form>
      </div>
      <div class="media  d-flex justify-content-start">
        <img src="../statics/img/fotoperfil1.jpg" width="64" height="64" alt="">
        <div class="media-body">
            <p class="name"> Lisa Kudwwow<span>la hora </span></p>
            <p class="comentario">
              Smelly Cat, Smelly Cat, What are they feeding you?
              Smelly Cat, Smelly Cat  It's not your fault
            </p>
            <div class="botones text-right">
              <a href="">Responder</a>
              <a href="">Editar</a>
              <a href="">Eliminar</a>
            </div>

        </div>
      </div>
        <div class="media d-flex justify-content-start">
          <img src="../statics/img/fotoperfil2.jpg" width="64" height="64" alt="">
          <div class="media-body">
            <p class="name"> Matt LeBlanc<span>la hora </span></p>
              <p class="comentario">
                "Who the hell is Hacienda and why is he keeping my money?"
              </p>
              <div class="botones text-right">
                <a href="">Responder</a>
                <a href="">Editar</a>
                <a href="">Eliminar</a>
              </div>
  
          </div>
        </div>

        <div class="media d-flex justify-content-start">
          <img src="../statics/img/fotoperfil3.jpg" width="64" height="64" alt="">
          <div class="media-body">
            <p class="name"> Matthew Perry<span>la hora </span></p>
              "It's a trifle. It's got all these layers. First sponge cake, then a layer of jam, then custard, raspberries... then beef stir fry with peas and onions. A little more cream on top and bananas..." </p>
              <div class="botones text-right">
                <a href="">Responder</a>
                <a href="">Editar</a>
                <a href="">Eliminar</a>
              </div>
  
          </div>
        </div>
      </div>

      </div>
    </div>
    
  
    
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>